<h2 mat-dialog-title>{{ title }}</h2>
<form >
  <mat-dialog-content>
    <mat-form-field class="form-field">
      <input matInput placeholder="Current Password*" name="current_AffiliateSeller_Password" [(ngModel)]= "current_AffiliateSeller_Password" required/>
      <mat-error>Please enter current Password</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-divider></mat-divider>
    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="New Password*"
        name="new_password" [(ngModel)]= "new_password" required
      />
      <mat-error>Please enter a new password</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="Confirm New Passord*"
        name="confirm_new_password" [(ngModel)]= "confirm_new_password" required
      />
      <mat-error>Please confirm new password</mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-raised-button
      mat-primary
      type="submit"
      (click) = "onSubmit()"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
